name: ci
on:
  pull_request:
    branches:
    - master
    - main
  push:
    branches:
    - master
    - main
    tags:
    - "v*.*.*"

jobs:
  unittest:
    name: Run Unit TestCases
    strategy:
      fail-fast: true
      matrix:
        go-version: [1.19.x, 1.20.x]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      name: Check out code into the Go module directory
    - uses: actions/setup-go@v4
      name: Set up Go 1.x
      with:
        go-version: ${{matrix.go-version}}
    - name: Run TestCases
      run: make unittest
    - name: Save code coverage results
      if: ${{matrix.go-version == '1.20.x' }}
      uses: actions/upload-artifact@v3
      with:
        name: code-coverage-report
        path: coverage.txt
    - name: Run Benchmark TestCases
      run: make benchmark

  codecov:
    name: Upload Code Coverage Report
    runs-on: ubuntu-latest
    needs: unittest
    steps:
    - uses: actions/checkout@master
    - name: Download code coverage report
      uses: actions/download-artifact@v3
      with:
        name: code-coverage-report
    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        files: coverage.txt # optional
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)

  docker:
    name: Build And Publish Docker Image
    runs-on: ubuntu-latest
    needs: unittest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        # list of Docker images to use as base name for tags
        images: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
        # generate Docker tags based on the following events/attributes
        tags: |
          type=ref, event=tag
          type=ref, event=branch
          type=ref, event=pr
          type=sha
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
