name: CI
on:
  pull_request:
    branches:
    - master
    - main
  push:
    branches:
    - master
    - main
    tags:
    - "v*.*.*"

jobs:
  unittest:
    name: Run Unit TestCases
    strategy:
      fail-fast: true
      matrix:
        go-version: [1.21.x, 1.22.x]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      name: Check out code into the Go module directory
    - uses: actions/setup-go@v5
      name: Set up Go 1.x
      with:
        go-version: ${{matrix.go-version}}
    - name: Run TestCases
      run: make unittest
    - name: Save code coverage results
      if: ${{matrix.go-version == '1.22.x' }}
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: coverage.txt
    - name: Run Benchmark TestCases
      run: make benchmark

  codecov:
    name: Upload Code Coverage Report
    runs-on: ubuntu-latest
    needs: unittest
    steps:
    - uses: actions/checkout@v4
    - name: Download code coverage report
      uses: actions/download-artifact@v4
      with:
        name: code-coverage-report
    - uses: codecov/codecov-action@v4
      with:
        files: coverage.txt # optional
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
        token: ${{ secrets.CODECOV_TOKEN }}
  docker:
    name: Build And Publish Docker Image
    runs-on: ubuntu-latest
    needs: unittest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        # list of Docker images to use as base name for tags
        images: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
        # generate Docker tags based on the following events/attributes
        tags: |
          type=ref, event=tag
          type=ref, event=branch
          type=ref, event=pr
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
